*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}

:root{
    --color-primary:#191d2b;
    --color-secondary:#50e60a;
    --color-white:#ffffff;
    --color-black:#0c0c0c;
    --color-grey0:#e5e9e3;
    --color-grey1:#c0c7bd;
    --color-grey2:#676b65;
    --color-grey3:#4c504b;
    --color-grey4:#3b3d3a;
    --color-grey5:#252724;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;

}


header{
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
   
}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
   
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
   
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
    
}

.sec5{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #e4a725;
    
}

.sec6{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #50e60a;
    
}

.sec7{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #50e60a;
    
}




.active{
    display: block;
    animation: scaleAnim 1s ease-in-out;
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scale(0)
        }
    

        100%{
            transform: translateY(0) scale(1);
        }
        
    }
}

//controls
.controlls{
    position:fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .4s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.2rem;
            color: var(--color-grey2);
            pointer-events: none;
        }
    }
}

/*header-content*/
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header{
        display:flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width:65%;
            height:100%;
            background-color: var(--color-secondary);
            position: absolute;
            left:0;
            top:0;
            z-index: -1;
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
        .image{
            border-radius: var(--br-sm-2);
            height:90%;
            width:60%;
            margin-left: 4rem;
            background-color: var(--color-black);
            transition: all .4s ease-in-out;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover{
                    filter:grayscale(0);

                }
            }
        }
    }
    .right-header{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 18rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
        

        .follow-icon{
            padding-bottom: 25px;
            display: flex;
            margin-top: 2rem;
            a{
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-grey5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: var(--color-secondary);
                    i{
                        color: var(--color-primary);
                    }
                }

                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }


            }
        }


    }
}

/*Independent components*/
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn,.main-btn1{
    border-radius: 30px;
    color: inherit;
    font-weight:600;
    position:relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    // margin-left: 30%;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position:absolute;
        top:0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;

    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }

    }
}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position:absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey5);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
       }
    }
}

.about-container{
    p{
        text-align: justify;
    }
}

.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .prog-title{
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-con{
                display: flex;
                align-items: center;
                .prog-text{
                    color: var(--color-grey2);
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey4);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        width: 60%;
                    }
                    .python{
                        width: 90%;
                    }
                    .C{
                        width: 50%;
                    }
                    .JAVA{
                        width: 40%;
                    }
                    .javascript{
                        width: 30%;
                    }
                }
            }
        }
    }
}




/*Status title*/
.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey5);
        transform: translateX(-50%);
    }
}

/*timeline*/
.timeline{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey5);
        .tl-icon{
            position:absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.3rem;
            }
        }
        .tl-duration{
            padding: .2rem .6rem;
            background-color: var(--color-grey5);
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        h5{
            padding:1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span{
                color:var(--color-grey2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
        p{
            color: var(--color-grey2);
        }

    }
}


.interests{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .interest{
        position: relative;
        background-color: var(--color-grey5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(209, 162, 162, 0.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            
        }
       
        .interest-text{
            margin-top: -7px;
            padding: 1.1rem;
            // border-top: 8px solid var(--color-secondary);
            h3{
                font-size: 1.5rem;
                text-align: center;
                color: #e0740f;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary);
                }
            }
            
        }
    }
} 


//protfolios
.port-text{
    padding: 2rem 0;
    text-align: center;
}

.protfolios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .protfolio-item{
        position: relative;
        // border-radius: 15px;
        img{
            width: 90%;
            height: 300px; 
            object-fit: cover;
            border-radius: 15px;
        }
        p{
            width: 90%;
            text-align: justify;
        }

        .hover-items{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            position:absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                margin-bottom: 11.5rem;
               
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem;
                    }
                    &:hover{
                        background-color: var(--color-white);
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }
}

.protfolio-item:hover .hover-items{
    opacity: 1;
    transform: scale(1);
}


//Blogs section
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .blog{
        position: relative;
        background-color: var(--color-grey5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(0,0,0,.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            img{
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 1px 4px 15px rgba(0,0,0,.8);
            }
        }
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;

        }
        .blog-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);
            h4{
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary);
                }
            }
            p{
                color: var(--color-grey2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
} 


.blog-type,.research-type{
    padding-top: 3rem;
    padding-bottom: -2rem;
    h4{
        color: #e4a725;
    }

}


//blog and research

.blog-title,.research-title{
    text-transform: uppercase;
    font-size: 1.8rem;
   
    text-align: center;
    padding: 2rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 50%;
        height: .5px;
        background-color: var(--color-grey2);
        transform: translateX(-50%);
    }}

.research_subtype{
        padding-top: 1rem;
        padding-bottom: 0rem;
        h4{
            color: #bbe425;
        }
    
    }

.research_subtitle{
        text-transform: uppercase;
        font-size: 1.3rem;
       
        // text-align: center;
        padding: 1rem 0;
        position: relative;

        border-bottom: 1px solid red;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     left: 50%;
        //     top: 0;
        //     width: 50%;
        //     height: .5px;
        //     background-color: var(--color-grey2);
        //     transform: translateY(-50%);
        //}
    }



.researches{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 3rem;
    .research{
        position: relative;
        background-color: var(--color-grey5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(209, 162, 162, 0.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            // img{
            //     filter: grayscale(0);
            //     transform: scale(1.1);
            //     box-shadow: 1px 4px 15px rgba(0,0,0,.8);
            // }
        }
        // img{
        //     width: 100%;
        //     height: 300px;
        //     object-fit: cover;
        //     border-top-left-radius: 5px;
        //     border-top-right-radius: 5px;
        //     filter: grayscale(100%);
        //     transition: all .4s ease-in-out;

        // }
        .research-text{
            margin-top: -7px;
            padding: 1.1rem;
            // border-top: 8px solid var(--color-secondary);
            h4{
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary);
                }
            }
            p{
                color: var(--color-grey2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
} 

//Education and certifications
.education_container{
    display: contents;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-top: 3rem;
    // width: 950px;
    // padding-left: 27rem;
    

    .education{
        
        // align-items: center;
        margin-bottom: 15px;
        margin-left: 25%;
        margin-right:25%;
        background-color: var(--color-grey5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover{
            box-shadow: 1px 1px 20px rgba(0,0,0,.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            img{
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 1px 4px 15px rgba(0,0,0,.8);
            }
        }
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height: 50%;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;

        }
        .education-text{
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);
            h4{
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover{
                    color: var(--color-secondary);
                }
            }
            p{
                color: var(--color-grey2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
} 



//contact section
.contact-content-con{ 
    display: flex;
    padding-top:3.5rem;
  
    .left-content{
       
        flex: 2;
        padding-right: 8rem;
        h4{
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p{
            text-align: justify;
            margin: 1rem 0;
            line-height: 2rem;

        }

        .contact-info{
            .contact-item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon{
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i{
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
          

        }
        
        .contact-icon,follow-icon{
            display: flex;
            margin-top: 2rem;
            a{
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-grey5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover{
                    background-color: var(--color-secondary);
                    i{
                        color: var(--color-primary);
                    }
                }

                i{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }


            }
        }


    }

    .right-contact{
        flex: 3;
        margin-left: 3rem;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }

        // .submit-btn{
        //     display: flex;
        //     justify-content: flex-start;
        //     margin-left: 18rem;
        // }

    }
}

.submit_btn{
    border-radius: 30px;
    color: inherit;
    font-weight:600;
    position:relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-left: 30%;
    .btn-text{
        padding: 0 2rem;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: '';
        position:absolute;
        top:0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;

    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }

    }
}




.copy_right{
    margin: 100px;
}
.cp-text {
    text-align: center;
    width: auto;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    color: rgba(167, 146, 146, 0.7);
    text-shadow: 0 1px rgb(143 129 129 / 10%);
  } 


.copy_right1 {
    margin: 100px;
 }
.cp-text1 {
    margin-top: 200px;
    text-align: center;
    color: rgba(167, 146, 146, 0.7);
    text-shadow: 0 1px rgb(143 129 129 / 10%);
  } 

//dkjljsdlf

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }




//   .copyright{
//     margin-top: 300px;
//   }

@import './media';